h1,
h2,
h3,
h4,
h5 {
  font-size: var(--font-size-lg);
  color: #0f172a;
  font-weight: bold;
}

.container-bg-light {
  background-color: #fff;
}

.container-card-page {
  background-color: #fff;
  border: 2px solid var(--color-border-light);
  border-radius: 14px;
  outline: none;
  transition: border-color var(--transition-base),
    box-shadow var(--transition-base);
}
